html, body {
  padding: 0%;
}

.thread {
  padding: 1%;
  margin: 1%;
  border: 1px solid #d3d7cf;
  background-color: #eeeeec;
}

.thread > details > summary {
  padding: 1%;
  details: 0.5em;
  background-color: #e5e5e5;
  border: 2px outset black;
  cursor: pointer
  user-select: none;
}

.thread > details[open] > summary {
  border: 2px inset black;
}

.comment {
  margin: 1%;
  padding: 1%;
  border: 1px solid #d3d7cf;
  background-color: #cff5ff;
}